<h1>Editing service</h1>

  <% form_for(@username) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= image_tag("/images/sites_icons/#{@service.servicename}.png") %>
      <%= f.label @service.servicename -%>
    </p>
    <p>
      <!-- %= f.label :username %><br / -->
      <%= f.text_field :login_name %>
      <%= f.hidden_field :account_id, :value => "#{@account.id}" %>
      <%= f.hidden_field :service_id, :value => "#{@service.id}" %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>


<!-- %= link_to 'Show', @service %> | -->
<%= link_to 'Back', services_url %>


