<h1>Listing services</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Service</th>
  </tr>

<% for service in @services %>
  <tr>
    <td><%=h service.username %></td>
    <td><%=h service.service %></td>
    <td><%= link_to 'Show', account_services_path %></td>
    <td><%= link_to 'Edit', edit_account_service_path(service) %></td>
    <td><%= link_to 'Destroy', account_services_path, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service', new_account_service_path %>
