	<%- if logged_in? -%>
		<div class="right_side">
			<div class="pad">
                                <h3>OpenID Settings</h3>
                                <ul id="navi">
                                        <% unless checkid_request %>
                                       	  <%= nav 'my identity', identity_path(current_account), 'accounts' => ['show'] %>
                                          <%= nav 'my profile', edit_account_path, 'accounts' => ['edit', 'update'] %>
                                          <%= nav 'my personas', account_personas_path, 'personas' => [] %>
                                          <%= nav 'my trusted sites', account_sites_path, 'sites' => [] %>
                                        <% else %>
                                          <%= nav 'current verification request', proceed_path, 'server' => [] %>
                                        <% end %>
                                </ul>
			</div>
		</div>
	<%- end -%>


