                        <%- if logged_in? -%>
                                <div class="right_side">
                                        <div class="pad">
                                                <h3>Resources</h3>
                                                <ul>
                                        	   <li><%= link_to 'lifestream collection', services_url, 'services' => [] %></li>
                                                   <li><%= link_to 'OPML feed', new_opml_metadata_url %></li>
                                                   <!-- # li><%= link_to 'feed aggregator', '/lifestream' %></li -->
                                                   <li><%= link_to 'feed aggregator', lifestream_index_url(@account) %></li>
                                                   <li><%= link_to 'add a new feed', feed_urls_url(@account) %></li>
                                                   <%= image_tag("/images/rss.jpg") -%>
                                                </ul>
                                        </div>
                                </div>
                        <%- end -%>

