<h1>New opml_metadata</h1>

<%= error_messages_for :opml_metadata %>

<% form_for(@opml_metadata, :url => opml_metadatas_url,
			    :html => { :multipart => true }) do |f| %>


  <p>
    <label for="opml_metadata">Upload your OPML feed:</label>
    <%= f.file_field :uploaded_data %>
    <%= f.hidden_field :account_id, :value => "#{@account.id}" %>
  </p>

  <p>
    <%= submit_tag 'Create' %>
  </p>

<% end %>

<%= link_to 'Back', opml_metadatas_url %>
