 
<% form_for @service.url  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= image_tag("/images/sites_icons/twitter.png") -%>
    <%= f.hidden_field :url, :value => 'http://twitter.com/' %>
    <%= f.label :twitter %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
