 
<% form_for @service, service_path('delicious') do |f| %> 
  <%= f.error_messages %>
  <p>
    <%= image_tag("/images/sites_icons/delicious.png") -%>
    <%= f.hidden_field :url, :value => 'http://delicious.com/' %>
    <%= f.hidden_field :servicename, :value => 'delicious' %>
    <%= f.label :delicious %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
