<%= debug params %>
<h1>Delicious Lookup, helps you systematically discover the top blogs in any niche 
</h1><p></br></p>

<h3>Copy & past the URL of you best web page. The resource which best represent the niche you are going to explore.</br></h3>
<% form_tag tagometers_path, :method => 'get' do %>
  URL: <%= text_field_tag :page, params[:page], {:size => 82}  %>
  <%= submit_tag "page", :name => nil %>
<% end %>

<h3>Here the tags per URL</h3>
<p><%= @tagometers %></p></br>
<%= debug @tagometers %>


<h3> ... and here the principal URLs for the same tags
<p><%= @list %></p>
<%= debug @list %>
