<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%=h page_title %></title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<% if identity_page? %>
		<meta http-equiv="X-XRDS-Location" content="<%= formatted_identity_url(:account => @account, :format => :xrds, :protocol => scheme) %>" />
		<link rel="openid.server openid2.provider" href="<%= endpoint_url %>" />
		<% elsif home_page? %>
		<meta http-equiv="X-XRDS-Location" content="<%= formatted_server_url(:format => :xrds, :protocol => scheme) %>" />
		<% end %>
		<link rel="seatbelt.config" type="application/xml" href="<%= formatted_seatbelt_config_url(:format => :xml, :protocol => scheme) %>" />
		<link rel="Shortcut Icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/favicon.ico" type="image/ico" />
		<%= stylesheet_link_tag 'body' %>
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'prototype' %>

    <!-- # %= stylesheet_link_tag 'style', 'pagination', 'jquery.tooltip'%>
    <    #%= javascript_include_tag 'jquery-1.2.6', 'jquery.dimensions', 'jquery.bgiframe', 'jquery.tooltip', 'jquery.hotkeys.js' % -->
		<%= stylesheet_link_tag 'pagination' %>

	</head>
	<body>
		<% @account = current_account %>

               	<%= render :partial => 'shared/topbar' %>
                <%= render :partial => 'shared/top' %>


                <div class="content">
			<div id="main">
				<%= render :partial => 'shared/openid_settings' %>
                        	<%= render :partial => 'shared/resources' %>
				<div id="left_side">
					<div class="intro">
						This service is an experiment,<br> use it at your own risk !
					</div>
					<div class="mpart">
			       			<% if flash[:notice] %><div class="notice"><%=simple_format h(flash[:notice]) %></div><% end %>
						<% if flash[:error] %><div class="error"><%=simple_format h(flash[:error]) %></div><% end %>
			 			<%= yield %>
               	                	</div>

				</div>
			</div>
			<%= render :partial => 'shared/footer' %>
                 </div>

                 <script type="text/javascript">
                   var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                   document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                 </script>
                 <script type="text/javascript">
                   var pageTracker = _gat._getTracker("UA-2914610-2");
                   pageTracker._trackPageview();
                 </script>

	</body>
</html>
